:root {
    --jazz-gold: #d4af37;
    --bg-black: #0C0C0C;
    --bg-darker: #050505;
}

.policy-container {
    background-color: var(--bg-black);
    width: 75%;
    margin: auto;
    margin-top: 10vh;
    padding: 64px 28px;
    border: 1px solid var(--jazz-gold);
    border-radius: 50px;
}